<?php
/**
 * @var Moona_Moona_Block_Iframe $this
 */
?>
<?php if($this->getHtml()) { ?>
    <?php echo $this->getHtml() ?>
<?php } else { ?>
    <p style="font-family:aeonikregular;font-size:20px;color:#292B36;padding:10px;text-align:center;">
        <strong>£5 OFF by paying with </strong>
        <img
            style="border-radius:0px;vertical-align:baseline;display:unset;width:85px;height:14px;"
            src="/js/moona/image/logo-moona-vectorized.svg"
            alt="Moona"
        />
    </p>
<?php }?>
