<?php
/**
 * @var Moona_Moona_Block_Iframe $this
 */
?>
<?php if($this->getHtml()) { ?>
    <?php echo $this->getHtml() ?>
<?php } else { ?>
    <p style="font-family:aeonikregular;font-size:20px;color:#292B36;padding:10px;background-color:#f5f6fa;text-align:center;">
        <strong>
            <span style="font-size:25px;">£5</span> discount each time you pay with
        </strong>
        <img
            style="border-radius:0px;vertical-align: baseline; display:unset; width:103px; height:17px;"
            src="/js/moona/image/logo-moona-vectorized.svg"
            alt="Moona"
        />
    </p>
<?php }?>
