<?php
/**
 * @var Moona_Moona_Block_Iframe $this
 */
?>
<?php if($this->getHtml()) { ?>
    <?php echo $this->getHtml() ?>
<?php } else { ?>
    <p style="font-family:aeonikregular;font-size:20px;color:#292B36;padding:10px;">
        <strong>£5 OFF by paying with Moona</strong>
    </p>
<?php }?>
