@font-face {
    font-family: aeonikregular;
    src: url("/js/moona/fonts/aeonik-regular-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: aeonikmedium;
    src: url("/js/moona/fonts/aeonik-medium-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: aeonikbold;
    src: url("/js/moona/fonts/aeonik-bold-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.moona-popin-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.moona-popin-container > div {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    height: 80%;
    position: relative;
    max-width: 500px;
}

@media screen and (max-width: 650px) {
    .moona-popin-container > div {
        width: 90% !important;
        padding: 0px;
    }
}

#dt_method_moona_payment img {
    margin-left: 10px;
    float: right;
}

#moona-total .data-table th {
    padding: 0;
    border-bottom: 0;
}

#moona-total .price-moona {
    max-width: 25px;
}

@media only screen and (max-width: 479px) {
    #moona-total .price-moona {
        max-width: inherit;
    }
    #moona-total .moona-total-table-w-discount .a-right {
        text-align: center;
    }
}