<?php $data = $this->getDataBanners(); ?>
<span><?php /* @escapeNotVerified */ echo $data['description']; ?></span>
<?php if($data['banners']['enabled']) {
    /* @escapeNotVerified */ echo $data['banners']['banner_above_cta_checkout_page'];
 } ?>
<script>
    jQuery('#dt_method_moona_payment label').html('<?php /* @escapeNotVerified */ echo '<span>'.$data['title'].'</span> <img src="'.$data['icon'].'">' ?>')

    jQuery('input[name="payment[method]"]').change(function () {
        var self = jQuery(this);
        jQuery.ajax({
            url: "<?php  /* @escapeNotVerified */ echo $this->getUrl('moona/payment/changemethod') ?>",
            type: "POST",
            data: {'method' : self.val()}
        });
    })
</script>
