<div class="moona-popin-container" >
    <div>
        <iframe
            id="moona-form-iframe"
            name="moona-iframe"
            src="<?php  /* @escapeNotVerified */ echo $this->getUrlIframe() ?>"
            scrolling="yes"
            frameborder="0"
            border="0"
            height="100%"
            width="100%"
        >
        </iframe>
    </div>
</div>
<script>
    window.addEventListener('message', handleEvent, false);
    function handleEvent(e) {
        if(
            e.data.source !== undefined &&
            e.data.action !== undefined &&
            e.data.source === 'Moona'
        ) {
            var action = e.data.action;
            if(action === 'cancel') {
                window.history.replaceState("", "", '<?php /* @escapeNotVerified */ echo $this->getBackRedirectUrl() ?>');
                window.location.reload();
            } else if(action === 'go-to-cart') {
                window.history.replaceState("", "", '<?php /* @escapeNotVerified */ echo $this->getUrl('checkout/cart') ?>');
                window.location.reload();
            } else if(action === 'go-to-checkout') {
                window.history.replaceState("", "", '<?php /* @escapeNotVerified */ echo Mage::helper('checkout/url')->getCheckoutUrl() ?>');
                window.location.reload();
            } else if(action === 'paid') {
                // LATER
            } else if(action === 'finish-moona-process') {
                let url = e.data.url !== undefined ? e.data.url : '<?php /* @escapeNotVerified */ echo $this->getSuccessRedirectUrl() ?>';
                window.history.replaceState("", "", url);
                window.location.reload();
            } else if(action === 'open-new-tab') {
                window.open(e.data.url,'_blank');
            } else if(action === 'redirect') {
                window.history.replaceState("", "", e.data.url);
                window.location.reload();
            }
        }
    }
</script>