<?php
/**
 * @var Moona_Moona_Block_Total $this
 */
?>
<?php $total = $this->getTotal(); ?>
<?php if($total['display_with_discount'] || $total['display_without_discount']) { ?>
    <div id="moona-total">
    <?php if($total['display_mode'] == 'text_with_discount' && $total['display_with_discount']) { ?>
        <table class="data-table linearize-table" id="moona-total-table">
            <colgroup>
                <col />
                <col width="1">
                <col width="1">
                <col width="1">
            </colgroup>
            <tfoot>
                <tr class="last">
                    <td class="a-right" colspan="3">
                        <strong><?php /* @escapeNotVerified */ echo $total['text_with_discount'] ?></strong>
                    </td>
                    <td class="a-right price-moona">
                        <strong class="price"><?php /* @escapeNotVerified */ echo $total['total_with_discount'] ?></strong>
                    </td>
                </tr>
            </tfoot>
        </table>
        <script type="text/javascript">
            //<![CDATA[
            decorateTable('moona-total-table');
            truncateOptions();
            jQuery('#checkout-review-table tfoot tr:last-child .price').css('text-decoration', 'line-through');
            //]]>
        </script>
    <?php } ?>

    <?php if($total['display_mode'] == 'text_without_discount' && $total['display_without_discount']) { ?>
        <table class="data-table moona-total-table-w-discount" id="moona-total-table">
            <tfoot>
                <tr class="last">
                    <td class="a-right" >
                        <strong><?php /* @escapeNotVerified */ echo $total['text_without_discount'] ?></strong>
                    </td>
                </tr>
            </tfoot>
        </table>
        <script type="text/javascript">
            //<![CDATA[
            decorateTable('moona-total-table');
            truncateOptions();
            jQuery('#checkout-review-table tfoot tr:last-child .price').css('text-decoration','none');
            //]]>
        </script>
    <?php } ?>
    </div>
<?php } ?>